* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.title {
	text-align: center;
}

.page {
	border: 3px solid white;
	background-color: black;
	padding: 5px;
}

.page .choices {
	padding: 10px;
	display: flex;
	gap: 10px;
	background-color: #bbb;
	margin-bottom: 5px;
}

.page .choices label {
	background-color: #777;
	padding: 15px 10px;
	flex: 1;
	text-align: center;
	font-size: 22px;
	border-radius: 6px;
	cursor: pointer;
}

.page .choices label:has(input:checked) {
	color: red;
	background-color: green;
}

.page .choices input {
	display: none;
}

.page .main {
	position: relative;
	padding: 30px 20px;
}

.page .main .cells-holder {
	position: relative;
	height: 200px;
}

.page .main .cells-holder .cell {
	width: 2.666em;
	aspect-ratio: 1/1;
	background-color: rgb(144, 220, 195);
	color: black;
	font-size: 15px;
	font-weight: bold;
	border-radius: 6px;
	border: 3px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 100px;
	transition: left 0.5s 0.3s ease-in-out, top 0.5s 0.3s, background-color 0.4s;
}

.page .main .sort-btn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	color: black;
	background-color: white;
	padding: 5px 10px;
	border-radius: 6px 6px 0 0;
	cursor: pointer;
}

.page .main .sort-btn:hover {
	background-color: wheat;
}

.page .controls {
	padding: 10px;
	background-color: #bbb;
	display: flex;
}

.page .controls .time-controls {
	display: flex;
	gap: 15px;
	margin-left: auto;
	color: black;
	position: relative;
}

.page .controls .time-controls div {
	cursor: pointer;
}

.page .controls .time-controls .toggle {
	min-width: 20px;
	text-align: center;
}

.page .controls .time-controls .toggle::before {
	content: "\f04c";
	font-family: var(--fa-style-family-classic);
	font-weight: 900;
}

.page .controls .time-controls .toggle.paused::before {
	content: "\f04b";
}

.page .controls .time-controls .speed {
	min-width: 50px;
}

.page .controls .time-controls div:hover {
	color: red;
}

.page .controls .time-controls .speed-range {
	position: absolute;
	top: calc(100% - 5px);
	left: 0;
}

.page .controls .time-controls .speed-range input {
	width: 100%;
}
